
<h1 class="h3 mb-2 text-gray-800">Cadastros Pendentes</h1>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Cadastros Pendentes</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>CPF</th>
                        <th>Idade</th>
                        <th>Cadastro</th>
                        <th>Solicitado</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Nome</th>
                        <th>CPF</th>
                        <th>Idade</th>
                        <th>Cadastro</th>
                        <th>Solicitado</th>
                    </tr>
                </tfoot>
                <tbody>

                    <tr>
                        <td>Maria Silva</td>
                        <td>987.887.874-98</td>
                        <td>38</td>
                        <td>25/10/2025</td>
                        <td>$1,800.00</td>
                    </tr>

                    <tr>
                        <td>Jonas Santos Junior</td>
                        <td>343.887.566-55</td>
                        <td>25</td>
                        <td>25/10/2025</td>
                        <td>$700.00</td>
                    </tr>

                    <tr>
                        <td>Roberto Carlos Andrade</td>
                        <td>889.123.8876-21</td>
                        <td>41</td>
                        <td>22/10/2025</td>
                        <td>$1,000.00</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>